{{#if login}}
    {{> patientNavBarAfterLogin}}
{{else}}
    {{> nav}}
{{/if}}

<h1>About This Website</h1>
<div class="container">
    <p>
    Diabetes dramatically increases the risk of various cardiovascular
    problems, including coronary artery disease with chest pain (angina),
    heart attack, stroke and narrowing of arteries (atherosclerosis). If you
    have diabetes, you're more likely to have heart disease or stroke.
    </p>
    <p>
    To treat diabetes and prevent these diseases, patients need to record
    some indexes related to diabetes every day. This website is designed to
    help patients record, store and view data about diabetes for a long time
    and keep alert of the data, whether over the upper limit or below the
    lower limit.
    </p>
    <p>
    Depending on patients' symptoms, each patient will record some subsets
    of the health data time-series belo
    </p>
    <ul style="margin-left: 2em;">
    <li>Blood glucose level (in nmol/L)</li>
    <li>Weight (in kg)</li>
    <li>doses of insulin taken (number of doses)</li>
    <li>exercise (step count)</li>
    </ul>
    <p>
    These are all numerical data. Patients can write down some comments for
    each entering data if they want to record their states.
    </p>
    <p>
    To keep patients motivated to enter data everyday, we also provide:
    </p>
    <ul style="margin-left: 2em;">
    <li>
        Clinician's support message to encourage patients to keep recording
    </li>
    <li>
        If patient's engagement rate is more than 80%, we will award a digital
        badge and display it on the website
    </li>
    <li>
        The 5 patient with the highest engagement will be displayed on the
        leaderboard. So don't lay behind! Keep entering every day!
    </li>
    </ul>
    <p>
    <strong style="color: #eb1909;">Attention:</strong>
    All users need to be logged in to access the features stated above. And
    each user's account ID is registered by the attending clinician.
    </p>
    <hr size="1" width="100%" color="#b6bfb7" />
    <p>
    This website is designed by the students enrolling in the Uinversity of
    Melbourne INFO30005.
    </p>
</div>
<div class="goto">
    <ul>
    <li>
        <img src="/images/point.png" style: width="30px" height = "30px">
    </li>
    <li><a href="AboutDiabetes">About Diabetes</a></li>
    </ul>
</div>

{{> footer}}