<head>
  <link rel="stylesheet" href="/css/clinicianLogInConfirm.css" />
</head>

<div class="container">
  <div class="">
    <h2>Hello</h2>
    <h2 id="clinician_email">{{clinician_email}}</h2>
  </div>

  <script>
    //sessionStorage.setItem('clinician_email',
    //JSON.stringify(document.getElementById("clinician_email").innerHTML))
    
    setTimeout(() => { window.location.assign('/clinician/{{clinician_email}}/dashboard');
    }, 3000)
  </script>
</div>