<html xmlns="http://www.w3.org/1999/xhtml"></html>
<head>
    <link rel="stylesheet" href="/css/clinicianStyle.css">
</head>

{{>clinicianTitleBar}}

{{>clinicianNav}} 
<body>
    <div class="resetPsw">
    <form action="" method = "POST" onsubmit="return sumbit_sure()">
        {{#if successMessage}}
        <median style="color:green">{{successMessage}}</median>
        {{/if}}
        <br><br>
        <label style="font-size: 30px" id="newpsw">Old Password:</label><br>
        <input type="password" id="oldpsw" name="oldpsw" placeholder="Enter old password here"><br>
        {{#if old_error}}
        <median style="color:red">⚠️ Old Password incorrect!</median><br>
        {{/if}}
        <label style="font-size: 30px" id="newpsw">New Password:</label><br>
        <input type="password" id="newpsw" name="newpsw" placeholder="Enter new password here"><br>
        {{#if r_error2}}
        <median style="color:red">⚠️ Passwords are at least 8 characters long!</median><br>
        {{/if}}
        {{#if r_error3}}
        <median style="color:red">⚠️ Password must contain at least one alphabetic character and one
        numeric character!</median> <br>
        {{/if}}
        <label style="font-size: 30px" id="confirmpsw">Confrim Password:</label><br>
        <input type="password" id="confirmpsw" name="confirmpsw" placeholder="Enter new password again"><br>
        {{#if r_error4}}
        <median style="color:red">⚠️ Passwords do not match!</median><br>
        {{/if}}
        <input value="Save" type="submit" id="btnforpsw">   
         
    </form>
    </div>
</body>