* {
    box-sizing: border-box;
    font-family: 'Lucida Fax','Lucida Sans',  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #F0F8F4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #24d5d6;
    border-radius: 5px;
    box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.2);
    height: 150px;
    width: 550px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container h2 {
    text-align: center;
    padding: 10px 20px;
}