body{
    background-color: #F0F8F4;
}
.nav{
    background-color: #22BABB;
}
.dropdown-content{
    color: #758C6E;
}
.dropdown-content a{
    color: #758C6E;
}
.login-dropdown-content{
    color: #758C6E;
}
.login-dropdown-content a{
    color: #758C6E;
}