body{
    background-color: #FFFBE8;
}
.nav{
    background-color: #FFD506;
}
.dropdown-content{
    color: #313838;
}
.dropdown-content A{
    color: #313838;
}
.login-dropdown-content{
    color: #313838;
}
.login-dropdown-content a{
    color: #313838;
}